body{
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: #191919;
}

.container{
    --border-width: 3px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-family: 'digital-7';
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #FFF;
    background: #222;
    border-radius: calc(5 * var(--border-width));
}